body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	letter-spacing: .2px;
}

main.container {
	max-width: 60rem;
}

div.avatar {
	float: left;
	width: 5.4rem;
	margin: 0.4rem 0.75rem 0 0;

}

.avatar img {
	transform: translateZ(0);
}

.book-menu-content nav ul li:nth-child(1),
.book-menu-content nav ul li:nth-child(7),
.book-menu-content nav ul li:nth-child(9)
{
	margin-bottom: 1.5rem;
}

.book-menu-content nav > p {
	margin-top: 1.5rem;
}

.book-menu-content nav > p i {
	display: inline-block;
	margin: 0 0.5rem 0 0;
}

.book-menu-content nav > p :focus {
	outline: none;
}

.summer-work {
	font-size: small;
	border-left: 0.25rem solid var(--gray-200);
	padding-left: 0.5rem;
}
