body {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui variable, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	letter-spacing: .2px;
}

main.container {
	max-width: 60rem;
}

div.avatar {
	float: left;
	width: 5.4rem;
	margin: 0.4rem 0.75rem 0 0;

}

.avatar img {
	transform: translateZ(0);
}

.book-menu-content nav > p {
	margin-top: 1.5rem;
}

.book-menu-content nav > p i {
	display: inline-block;
	margin: 0 0.5rem 0 0;
}

.book-menu-content nav > p :focus {
	outline: none;
}

.summer-work {
	font-size: small;
	border-left: 0.25rem solid var(--gray-200);
	padding-left: 0.5rem;
}

.last-modified {
	font-size: small;
	font-style: italic;
}

.bell-schedules-table td:nth-child(2n+1), .bell-schedules-table th:nth-child(2n+1) {
	border-right-width: 5px;
}