main {
	max-width: 60rem !important;
}

.avatar {
	float: left;
	width: 5.4rem;
	margin: 0.4rem 0.75rem 0 0 !important;

}

.avatar img {
	transform: translateZ(0);
}

.book-menu-content nav ul li:nth-child(1),
.book-menu-content nav ul li:nth-child(7),
.book-menu-content nav ul li:nth-child(9)
{
	margin-bottom: 1.5rem;
}

.book-menu-content nav > p {
	margin-top: 1.5rem;
}

.book-menu-content nav > p i {
	display: inline-block;
	margin: 0 0.5rem 0 0;
}

.book-menu-content nav > p :focus {
	outline: none;
}

table thead * {
}